.iconBtn.rotateChange {
    i {
        transition: .25s ease-in-out;
        transform: rotate(0deg);
        cursor: pointer;
        opacity: 1;
    }
    i.enactived {
        transform: rotate(-180deg) scale(1.2) translateY(5px);
        transition: .25s ease-in-out;
    }
}
