.map {
    position: relative;
    height: 100vh;
    width: 100%;
}
.panorama {
    height: 20rem;
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: -5rem;
    opacity: 0;
}
.marker:hover .panorama {
    opacity: 1.0;
}
.point {
    position: relative;
    color: white;
    background: var(--point);
    width: 1rem;
    height: 1rem;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    z-index: 5;
    transform: translate(-50% -50%);
}
.point + .content.show {
    min-height: 10rem;
    min-width: 20rem;
    background: #fff;
    color: var(--word);
    z-index: 100;
}
.InfoModal {
    display: flex;
    background: #fff;
    color: var(--word);
    position: absolute;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    height: 20rem;
    font-size: 1.2rem;
    z-index: 999;
    padding: 1.5rem;
    border-radius: 5px;
    animation: flipInfoModal 500ms;
    & > div {
        padding: 0rem 1rem;
    }
    & i {
        transition: transform 300 ease-in-out;
    }
    & i:hover {
        transform: scale(2.5, 2.5);
    }
}
@keyframes flipInfoModal {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}
.current.marker::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: radarShadow 1800ms infinite ease-in-out;
}
@keyframes radarShadow {
    from {
        box-shadow: 0 0 5px 10px #fff;
        opacity: 0.8;
    }
    to {
        box-shadow: 0 0 5px 30px #fff;
        opacity: 0.1;
    }
}
.current.marker::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;

    animation: radarBorder 1800ms infinite ease-in-out;
}
@keyframes radarBorder {
    from {
        transform: scale(1, 1);
        opacity: 1;
    }
    to {
        transform: scale(1.7);
        opacity: 0.5;
    }
}

.marker {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    color: white;
    font-size: 0.8rem;
    background: grey;
    padding: 5px 5px;
    width: 1rem;
    height: 1rem;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    &.current {
        padding: 15px 10px;
        width: 4.5rem;
        height: 4.5rem;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            animation: radarShadow 1800ms infinite ease-in-out;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            border: 1px solid #fff;
            animation: radarBorder 1800ms infinite ease-in-out;
        }
    }

    &.next {
        background: var(--dark);
        padding: 15px 10px;
        width: 2rem;
        height: 2rem;
        z-index: 1;
        transform: translate(-1rem, -1rem);
        border: 1rem solid var(--dark2);
        overflow: hidden;
    }

    &:hover .hideContent {
        display: flex;
    }
    .icon {
        padding: 1rem;
        font-size: 2rem;
    }
}
.mapLine {
    height: 10px;
    width: 5px;
    border: 3px solid red;
}
