.input {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}
.inputContainer {
    position: relative;
}

.fileBtn {
    position: relative;
}
.images {
    position: relative;
    display: flex;
    flex-direction: row;
}
