.closeBtn {
    position: absolute;
    top: 20%;
    right: 0.5rem;

    cursor: pointer;
}
.closeBtn > div {
    transform: scale(1.5, 1.5) rotate(40deg);
    font-weight: 800;
}
.input {
    position: relative;
    width: 100%;
}
