.mainNavs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: #fff;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainNavs > * {
  padding: 1rem;
  transition: transform 300ms ease-in-out;
  transform: scale(1);
}
.mainNavs > *[data-selected='true'] {
  transition: transform 300ms ease-in-out;
  transform: scale(1.3);
}
