.localStream {
    position: relative;

    width: 100%;
    z-index: 1;
}
.btns {
    position: absolute;
    display: flex;
    bottom: 1em;
    right: 1em;
    z-index: 2;
    flex-direction: row;
}
.preview {
    width: 0%;
    height: auto;
    text-align: center;
    z-index: 2;
    position: absolute;
    bottom: 1em;
    left: 1em;

    animation: previewImg 12000ms ease-out;
}
@keyframes previewImg {
    0% {
        width: 100%;
        border: 2px solid #fff;
    }
    10% {
        width: 20%;
    }
    100% {
        width: 20%;
        border: 2px solid #fff;
    }
}
