.page > section {
  height: auto;
  min-height: 100vh;
  /* max-height: 2000px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  margin-bottom: 1rem;
}

.page > section:nth-child(odd) {
  background: var(--bg);
  color: var(--word);
}
.page > section:nth-child(even) {
  background: var(--word);
  color: var(--bg);
}
.page > section:last-child {
  height: 20rem;
  min-height: 20rem;
  max-height: 2000px;
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro :global(.svgTitle) {
  transform: scale(0.5);
}

.iframeWrapper {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.iframeWrapper iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 10rem;
  height: 10rem;
  background-size: cover;
  background-position: top;
}
.project button {
  color: #333 !important;
  background: rgba(255, 255, 255, 0.5) !important;
}

.works {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.works > * {
  flex: 1 1 28%;
  width: 28%;
  max-width: 28%;
  margin: 1rem;
}

@media screen and (max-width: 1025px) {
  .works > * {
    flex: 1 1 40%;
    width: 40%;
    max-width: 40%;
    margin: 1rem;
  }
}
@media screen and (max-width: 426px) {
  .works > * {
    flex: 1 1 100%;
    width: 100%;
    max-width: 100%;
    margin: 1rem;
  }
}
